* {
    font-family: timonium, sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/connected.png");
    margin: 0%;
    padding: 0%;
}

.hero {
    background-image: url(images/coil-light.jpg);
    height: 80vh;
    width: 98%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 1%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.index:hover,
.information:hover {
    opacity: 1;
    background-color: #FFE100;
}

.index,
.information {
    background-color: #FFE100;
    opacity: 0.8;
    transition: 0.3s;
    width: 15%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
}

.hero-nav {
    display: flex;
    justify-content: right;
}

.three-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: space-between;
}

.con-button,
.gre-button,
.pri-button {
    background-color: #FFE100;
    opacity: 0.8;
    transition: 0.3s;
    width: 32.33%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
}

.con-button:hover,
.gre-button:hover,
.pri-button:hover {
    opacity: 1;
    background-color: #E0F2EE;
}

.texture {
    background-color: #102968;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    width: 98%;
    margin: 1%;
    height: 15vh;
}

.consumption p,
.greenhouse p,
.prices p {
    width: 60%;
    margin: 1%;
    background-color: #E0F2EE;
    display: flex;
    flex-wrap: wrap;
}

.group01 {
    display: flex;
}

.consumption {
    width: 60%;
}

img {
    width: 100%;
    max-height: 335px;
    margin: 1%;
}

.footer-nav {
    display: flex;
}

footer {
    background-color: #102968;
    margin: 1%;
    width: 98%;
}

.contact-info {
    color: whitesmoke;
    display: flex;
    
    justify-content: right;
    margin: 1%;
}


