body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.header{
    width: 80%;
    height: 40vh;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.Section-1, .Section-2, .Section-3 {
    /* width: 48%; */
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Section-1 div, .Section-2 div, .Section-3 div {
    width: 23%;
}

.Section-1 article, .Section-2 article, .Section-3 article {
    width: 73%;
    background-color: #E0F2EE;
    padding: 10px;
}

.Section-2 article {
    background-color: #FFE100;
}

.Section-3 article{
    width:58%;
}

.Section-3 div{
    width:40%;
}

button{
    background-color: #FFE100;
    width: 30%;
    height: 100px;
}

p {
    font-size: 1.3rem;
}

